h1{
    color: blue;
    background-color: goldenrod;
}
html{
    background-color: yellowgreen;
}
li{
    font-style: italic;
}
h2{
    font-size: large;
    font-style: oblique;
    background-color: blue;
}